@import "compass/css3";
@font-face {
    font-family: 'Dokdo-Regular';
    src: url('Dokdo/Dokdo-Regular.eot');
    src: url('Dokdo/Dokdo-Regular.eot?#iefix') format('embedded-opentype'),
         url('Dokdo/Dokdo-Regular.svg#Dokdo-Regular') format('svg'),
         url('Dokdo/Dokdo-Regular.ttf') format('truetype'),
         url('Dokdo/Dokdo-Regular.woff') format('woff'),
         url('Dokdo/Dokdo-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Eater-Regular';
    src: url('Eater/Eater-Regular.eot');
    src: url('Eater/Eater-Regular.eot?#iefix') format('embedded-opentype'),
         url('Eater/Eater-Regular.svg#Eater-Regular') format('svg'),
         url('Eater/Eater-Regular.ttf') format('truetype'),
         url('Eater/Eater-Regular.woff') format('woff'),
         url('Eater/Eater-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Dusseldot-Regular 130-Trial';
    src: url('Dusseldot/Dusseldot-Regular 130-Trial.eot');
    src: url('Dusseldot/Dusseldot-Regular 130-Trial.eot?#iefix') format('embedded-opentype'),
         url('Dusseldot/Dusseldot-Regular 130-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Dusseldot-Regular130';
    src: url('Dusseldot/Dusseldot-Regular130.svg#Dusseldot-Regular130') format('svg'),
         url('Dusseldot/Dusseldot-Regular130.ttf') format('truetype'),
         url('Dusseldot/Dusseldot-Regular130.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'CSTM Xprmntl 02 Bold-Bold-Trial';
    src: url('CSTM/CSTM Xprmntl 02 Bold-Bold-Trial.eot');
    src: url('CSTM/CSTM Xprmntl 02 Bold-Bold-Trial.eot?#iefix') format('embedded-opentype'),
         url('CSTM/CSTM Xprmntl 02 Bold-Bold-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'CSTMXprmntl02-Bold';
    src: url('CSTM/CSTMXprmntl02-Bold.svg#CSTMXprmntl02-Bold') format('svg'),
         url('CSTM/CSTMXprmntl02-Bold.ttf') format('truetype'),
         url('CSTM/CSTMXprmntl02-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'HealthGoth-Regular-Trial';
    src: url('Goth/HealthGoth-Regular-Trial.eot');
    src: url('Goth/HealthGoth-Regular-Trial.eot?#iefix') format('embedded-opentype'),
         url('Goth/HealthGoth-Regular-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'HealthGoth-Regular';
    src: url('Goth/HealthGoth-Regular.svg#HealthGoth-Regular') format('svg'),
         url('Goth/HealthGoth-Regular.ttf') format('truetype'),
         url('Goth/HealthGoth-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Archaism-Ct2Wd75-Trial';
    src: url('Archaism/Archaism-Ct2Wd75-Trial.eot');
    src: url('Archaism/Archaism-Ct2Wd75-Trial.eot?#iefix') format('embedded-opentype'),
         url('Archaism/Archaism-Ct2Wd75-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Archaism-Ct2Wd75';
    src: url('Archaism/Archaism-Ct2Wd75.svg#Archaism-Ct2Wd75') format('svg'),
         url('Archaism/Archaism-Ct2Wd75.ttf') format('truetype'),
         url('Archaism/Archaism-Ct2Wd75.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Nostra-Sett-Trial';
    src: url('Nostra/Nostra-Sett-Trial.eot');
    src: url('Nostra/Nostra-Sett-Trial.eot?#iefix') format('embedded-opentype'),
         url('Nostra/Nostra-Sett-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Nostrav1.0-SettTrial';
    src: url('Nostra/Nostrav1.0-SettTrial.svg#Nostrav1.0-SettTrial') format('svg'),
         url('Nostra/Nostrav1.0-SettTrial.ttf') format('truetype'),
         url('Nostra/Nostrav1.0-SettTrial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Flicker-Distorted75-Trial';
    src: url('Flicker/Flicker-Distorted75-Trial.eot');
    src: url('Flicker/Flicker-Distorted75-Trial.eot?#iefix') format('embedded-opentype'),
         url('Flicker/Flicker-Distorted75-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Flicker-Distorted75';
    src: url('Flicker/Flicker-Distorted75.svg#Flicker-Distorted75') format('svg'),
         url('Flicker/Flicker-Distorted75.ttf') format('truetype'),
         url('Flicker/Flicker-Distorted75.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: '40070';
    src: url('Y/40070.eot');
    src: url('Y/40070.eot?#iefix') format('embedded-opentype'),
         url('Y/40070.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Y14.5M-2009';
    src: url('Y/Y14.5M-2009.svg#Y14.5M-2009') format('svg'),
         url('Y/Y14.5M-2009.ttf') format('truetype'),
         url('Y/Y14.5M-2009.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Sail-Regular';
    src: url('Sail/Sail-Regular.eot');
    src: url('Sail/Sail-Regular.eot?#iefix') format('embedded-opentype'),
         url('Sail/Sail-Regular.svg#Sail-Regular') format('svg'),
         url('Sail/Sail-Regular.ttf') format('truetype'),
         url('Sail/Sail-Regular.woff') format('woff'),
         url('Sail/Sail-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
*{box-sizing:border-box}

.break
{font-weight: normal;
    font-style: normal;
    font-size: 9.5vw;
    line-height: 112.99%;
    text-align: center;
}
#one.break {
    font-family: 'Eater-Regular';
    margin-top: -11%;
    margin-bottom: -2%;
}
#two.break {
    font-family: 'Dokdo-Regular';
    margin-top: -3%;
    margin-bottom: -2%;
}
#three.break {
    font-family: 'Dusseldot-Regular130';
    margin-top: -2%;
    margin-bottom: -2%;
}
.oval {
    height: 34.722vw;
    width: 27.778vw;
    z-index:-5;
    margin-left:22%;
    margin-top: 1%;
    background-color: #FF2C2C;
    border-radius: 50%;
    position: absolute;
  }

.text{
    font-weight: normal;
    font-style: normal;
    font-size: 9.5vw;
    line-height: 112.99%;
    text-align: center;
}
#rotate.text{
    font-family: 'Y14.5M-2009';
    font-size: 5vw;
    position: absolute;
    transform: rotate(90deg);
    margin-top: 27%;
    margin-left: 56%;
    color: #4F4F4F;
}
#vr.text{
    font-family: 'Flicker-Distorted75';
    font-size: 65vw;
    line-height: 100%;
    margin-top: -5%;
}
#CSTM.text{
    font-family: 'CSTMXprmntl02-Bold';
}
#hel.text{
font-family:Helvetica,"Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
}
#goth.text{
    font-family: 'HealthGoth-Regular';
}
#arch.text{
    font-family: 'Archaism-Ct2Wd75';
    margin-top: 0.75%;
}
#nostra.text{
    font-family: 'Nostrav1.0-SettTrial';
}


.open-button{
    font-weight: normal;
    font-style: normal;
    font-size: 9.5vw;
    line-height: 112.99%;
    text-align: center;
    font-family: 'Sail-Regular';
    color: #75ACFF;
    text-decoration: underline;

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

    margin-left: 2%;
}

.open-button:active{
  color: #FF2C2C;
}

.open-button:hover{
  color: #FF2C2C;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 70vw;
  left: 30vw;
  margin-top: -50%; /* Negative half of height. */
  margin-left: -10%;
  border: none;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 70vw;
  padding: 5vw;
  background-color: gray;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
